{% extends 'base/base.html' %}

{% block content %}

<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="/static/images/aboutpic.jpg" alt="no img found!">
            </div>
            <div class="column right">
                <div class="text">I'm Asad & I'm a <span class="typing-2"></span></div>
                <p>I’m a Developer and Chemical Engineer located in Pakistan. I have a serious passion for Coding, animations, and Cyber Security.</p>
                <br>
                <p>I'm a Well-organised person, problem solver, independent employee with high attention to detail. In my spare time I, learn new technologies, watch Anime, TV series, Movies and read Manga and Books. A family person :)</p>
                <br>
                <p>Interested in the Full Stack development and cyber security and working on ambitious projects with positive people.</p>
                <a href="#">Download Resume</a>
            </div>
        </div>
    </div>
</section>


{% endblock content %}