{% extends 'base/base.html' %}

{% block content %}

<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contact me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>I’m interested in freelance opportunities – especially ambitious or large projects. However, if you have other request or question, don’t hesitate to use the form.</p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">Asad Leghari</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Address</div>
                            <div class="sub-title">Pakistan</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">asadleghari537@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Contact Me</div>
                <form class="contact-form" action="{% url 'send_email' %}" method="POST">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Name" name='name' required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" name='email' required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Subject" name='subject' required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" placeholder="Message.." name='message' required></textarea>
                    </div>
                    <div class="button">
                        <button type="submit" name='send'>Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}