{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style type='text/css'>
    html,body{
        height: 100%;
        background-image: url(/static/images/82banner.jpg);
    }

    #page-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: #0a192f; */
        background-image: url(/static/images/82banner.jpg);

    }

    #success-box{
        max-width: 600px;
        height: auto;
        /* background-color: #8892b0; */
        /* border: 1px solid crimson; */
        /* border-radius: 5px; */
        padding: 15px;
    }

    #success-box p{
        font-size: 22px;
        font-family: 'Ubuntu', sans-serif;
        color: white;
    }
    #success-box h1{
        color: crimson;
        font-family: 'Ubuntu', sans-serif;

    }
    #success-box a{
        color: crimson;
    }


</style>


<div id="page-wrapper">
    <div id="success-box" class="content-block">
        <h1>Thanks for reaching out!</h1>
        <br>
        <p>Your message was successfully sent. I will do my best to get back to you in a timly manner :)</p>
        <br>
        <a href="{% url 'home' %}">BACK TO HOME PAGE</a>
    </div>
</div>



{% endblock content %}