{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<!-- home section start -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, my name is</div>
            <div class="text-2">Asad Leghari</div>
            <div class="text-3">And I'm a <span class="typing"></span></div>
            <a href="#">Contact Me</a>
        </div>
    </div>
</section>

<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title" data-aos="fade-down">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="/static/images/aboutpic.jpg" alt="no img found!">
            </div>
            <div class="column right" data-aos="fade-left">
                <div class="text">I'm Asad & I'm a <span class="typing-2"></span></div>
                <p>I’m a Developer and Chemical Engineer located in Pakistan. I have a serious passion for Coding, animations, and Cyber Security.</p>
                <br>
                <p>I'm a Well-organised person, problem solver, independent employee with high attention to detail. In my spare time I, learn new technologies, watch Anime, TV series, Movies and read Manga and Books. A family person :)</p>
                <br>
                <p>Interested in the Full Stack development and cyber security and working on ambitious projects with positive people.</p>
                <a href="#">Download Resume</a>
            </div>
        </div>
    </div>
</section>

<!-- skills section -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title" data-aos="fade-down">My Skills</h2>
        <div class="skills-content">
            <div class="column left" data-aos="fade-right">
                <div class="text">Skills & Experience</div>
                <p>Since beginning my journey as a freelance developer, I’ve done remote work for agencies, consulted for startups, and collaborated with talented people to create web products for both business and consumer use.</p>
                <br>
                <p>I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small and medium web apps, custom plugins, features, animations, and coding interactive layouts.</p>
                <br>
                <p>I also have full-stack developer experience with popular open-source CMS like (WordPress, Wix, Daddygo, and others) .</p>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>Front-End</span>
                    </div>
                    <div class="line frontend"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Back-End</span>
                    </div>
                    <div class="line backend"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>ReactJS</span>
                    </div>
                    <div class="line reactjs"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Django</span>
                    </div>
                    <div class="line django"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                    </div>
                    <div class="line js"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- services section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title" data-aos="fade-Front-End Developmentdown">My services</h2>
        <div class="serv-content">
            <div class="card" data-aos="fade-up-right">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Front-End Development</div>
                    <p>Html, CSS, JS, frameworks like ReactJS & Bootstrap i can build web apps, custom plugins, features, animations, and coding interactive layouts.</p>
                </div>
            </div>
            <div class="card" data-aos="fade-up">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">open-source CMS</div>
                    <p>I can produce full-stack developer experience with popular open-source CMS like (WordPress, Wix, Daddygo, and others) .</p>
                </div>
            </div>
            <div class="card" data-aos="fade-up-left">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Back-End Development</div>
                    <p>I can attach a Back-End to the template or code of your choosing using Django, Firebase, Jquery and MYSQL</p>    
                </div>
            </div>
           </div>
        </div>
    </div>
</section>



<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title" data-aos="fade-down">Contact me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>I’m interested in freelance opportunities – especially ambitious or large projects. However, if you have other request or question, don’t hesitate to use the form.</p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">Asad Leghari</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Address</div>
                            <div class="sub-title">Pakistan</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">asadleghari537@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Contact Me</div>
                <form class="contact-form" action="{% url 'send_email' %}" method="POST">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Name" name='name' required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" name='email' required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Subject" name='subject' required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" placeholder="Message.." name='message' required></textarea>
                    </div>
                    <div class="button">
                        <button type="submit" name='send'>Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}