{% extends 'base/base.html' %}

{% block content %}

<!-- services section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Front-End Development</div>
                    <p>Html, CSS, JS, frameworks like ReactJS & Bootstrap i can build web apps, custom plugins, features, animations, and coding interactive layouts.</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">open-source CMS</div>
                    <p>I can produce full-stack developer experience with popular open-source CMS like (WordPress, Wix, Daddygo, and others) .</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Back-End Development</div>
                    <p>I can attach a Back-End to the template or code of your choosing using Django, Firebase, Jquery and MYSQL</p>    
                </div>
            </div>
           </div>
        </div>
    </div>
</section>


{% endblock content %}